<!doctype html>
<html lang="{{ site.Language.Locale | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
    {{ with site.Params.projectHub.description }}
      <meta name="description" content="{{ . }}">
    {{ end }}
    {{ with resources.Get "css/project-hub.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
    {{ block "head" . }}{{ end }}
  </head>
  <body class="project-hub">
    <main class="project-hub-main">
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
