{{ define "main" }}
  {{ $intro := site.Params.projectHub.intro }}
  {{ $content := .Content }}
  <h1>{{ site.Title }}{{ with site.Params.projectHub.tagline }} {{ . }}{{ end }}</h1>
  {{ if or $intro $content }}
    <header>
      {{ with $intro }}
        <p>{{ . }}</p>
      {{ end }}
      {{ with $content }}
        <div>
          {{ . }}
        </div>
      {{ end }}
    </header>
  {{ end }}

  <section aria-label="Project updates">
    {{ partial "project-hub/update-list.html" . }}
  </section>
{{ end }}
